body{
    margin:0; padding:0;
    overflow: scroll;
}

/*----------------------------------------------------------------------------------- */
/*  Scrollbar personalizzazione */
/*----------------------------------------------------------------------------------- */

.animated-view.ng-enter  { animation: fadeIn 0.5s both ease-in; }
.animated-view.ng-leave  { animation: fadeOut 0.5s both ease-in;}


::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(170,199,37, 0.4); /*verde */
    border: 0px none #ffffff;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(170,199,37, 1); /*verde */
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(170,199,37, 1); /*verde */
}
::-webkit-scrollbar-track {
    background-color: transparent; /*marrone*/
    border: 0px none #ffffff;
    border-radius: 3px;
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(63, 50, 33, 1); /*marrone*/
}
::-webkit-scrollbar-track:active {
    background-color: rgba(63, 50, 33, 1); /*marrone*/
}
::-webkit-scrollbar-corner {
    background: transparent;
}
