@import '../../css/_variables';

.cat_badge {

  position: absolute;
  top: -3px;
  left: -3px;
  color: $color_txt;
  background-color: $color_inv;
  width: $img_size/3;
  height:$img_size/3;
  border-radius: 50%;
  border:3px solid $color_pick;
  transform: scale(1.2);
  display: flex;
  align-items: center;
  justify-content: center;

}

.cat_img {
  //width:$img_size;
  border-radius: 0;
}

.flex {
  display: flex; align-items: center;
  img {align-self: start;}
}
.col {flex-direction: column;}

.gal-panel-icon .truncate {
  @include line-clamp(3);
  max-width:$img_size;
}
.list {
  img {
    width: $img_size/2;
    //height: $img_size/2;
    padding:5px;
    background: white;
    border-radius:50%;
    @include shadow(3px)
  }
  span {
    padding-left: 1em;
    //@include text-truncate(60%);
    @include line-clamp(2);
    line-height: 1;
  }
}
.gal_separator {
  @include hr;
}

.gal-poi-list,
.gal-subcategory-list {color:$color_inv; border-radius: 0;}
.gal-subcategory-list {background-color: rgba($color_01,0.2);}
.gal-panel-icon {align-items: start;}

list-view {
  .flex + .flex {
    @include hr_element;
  }
}

.search-bar {padding:1em;width:100%;}

category-view {
  .flex, .flex + .flex {margin:10px;}
}

.gal-subcategory-list,
.gal-panel-icon {
  span {
    font-size: 12px;
    line-height: 1;
  }
}

  .mobile {
    .gal-subcategory-list,
    .gal-poi-list,
    list-view {width:inherit;}
    .gal-poi-list {
      overflow-x: auto;
    }

    .gal-subcategory-list .flex a {
      text-align: center;
      margin: auto;
    }
    .gal_left_box.open {
      display: grid;
      grid-template-columns: 1fr minmax(60%, auto);
      grid-auto-rows: auto;
      grid-gap: $gap;
      .gal-subcategory-list,
      .gal-panel-icon,
      category-view {
        flex-direction: column;
        align-items: flex-start;
        > .flex {
          flex-direction: row;
          //span {align-items: baseline;}
        }
      }
      .gal-category-icon {
        flex-direction: row;
      }
      .list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        font-size: 80%;
        .flex {
          padding:0;
          margin:5px;
          span {
            padding:0;
            @include line-clamp(2);
          }
          img {transform: scale(0.7);}
        }
      }
      list-view {
        .flex, .flex + .flex {
          @include hr_box;
        }
      }
    }
  }


list-view .flex,
.mobile category-view .flex { align-items: center;}
category-view .flex { align-items: start; justify-content: center}


category-view img {
  width: 80px;
  height: 80px;
}

.gal-subcategory-list .flex > a {
  position: absolute;
  margin-top: 72px;
  z-index: 9999;
}

.mobile .gal-subcategory-list .flex > a {
  margin-top: 0px;
  top:0;
  left:150px;
}


.subcategory-icon {transform: scale(0.75);}
.gal-icon-sub-active {
  transform: scale(1.05);
  border:3px solid rgba($color_inv,0.8);
  border-radius:14px;
}

.subcategory-icon,
.gal-icon-sub-active {transition:transform 0.3s;}